table{
  width: 90%;
  margin: 30px;
  margin-left: 60px;
}

th, td {
  box-shadow:1px -1px 5px rgb(104, 104, 104);
  text-align: center;
 
}
td{
 padding: 5px;
 font-weight: 400;
}
thead {
  background-color: #e2e2e2;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border: 3px solid black;
  border-radius: 30px;
  padding: 20px;
  background-color: #f1ebff; 
  gap: 20px;
}

.text{
  font-size: large;
}
.form-container{
  /* padding-top: 20vh; */
  padding-left: 70vh;
  padding-right: 70vh;
}
h1{
  text-align: center;
}
button{
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #4aa1ff; 
  color: #fff;
  margin-right: 8px;
  margin-bottom: 8px;
  text-decoration: none; 
}

.search{
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  padding: 20px 95px;
  font-size:4vh
}
.search input{
  font-size: large;
  width: 50vh;
  height: 4vh;
}